.et-compose-toolbar
:is(
    .et-format-btn,
    .et-emoji-btn,
    .et-image-btn,
    .et-gif-btn
) {
    background-color: var(--h2-color) !important;
    box-shadow: none !important;
}

.et-compose-toolbar .et-submit-btn {
    background-color: var(--dark-accent) !important;
    box-shadow: none !important;
}