
<div id="echothread"
     data-api-key="72iANeaCkIeYix_Vd0_fpp-tZ4d0ddPaM7WiYrNHd-8"
     data-page-url="{{ page.url | url }}"
     data-identifier="{{ page.fileSlug }}"
     data-page-title="{{ title }}"
     data-theme-source="--background-primary"
     data-accent-color="#652121"></div>
<script src="https://cdn.echothread.io/widget.js" async></script>