
<div id="echothread"
     data-api-key="Eb6GgNvQqoD9gc2z3AOy_apI3KroJPPtITw0Wm8liS4"
     data-page-url="{{ page.url | url }}"
     data-identifier="{{ page.fileSlug }}"
     data-page-title="{{ title }}"
     data-theme-source="--background-primary"
     data-accent-color="#652121"></div>
<script src="https://cdn.echothread.io/widget.js" async></script>