
<div id="echothread"
     data-api-key="kvQOTOixAB6tdT2Xc6PTlVfr1rLPgfSJnaUtbClLVyg"
     data-page-url="{{ page.url | url }}"
     data-identifier="{{ page.fileSlug }}"
     data-page-title="{{ title }}"
     data-theme-source="--background-primary"
     data-accent-color="#652121"></div>
<script src="https://cdn.echothread.io/widget.js" async></script>