body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

.callout-content {
    padding: var(--callout-content-padding);
}

.callout {
    background-color: inherit;
    background-color: color-mix(in oklch, var(--callout-color) 10%, transparent);
}
.callout[data-callout~=caption] > .callout-content img {
    border-radius: 8px;
}

.callout > .callout-title > .callout-icon > svg {
    stroke: var(--callout-color, inherit);
}
